.gridContainer {
  height : 400px;
  width : 400px;
  margin : auto;
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.gridItem {
  display : -ms-inline-grid;
  border : 2px solid rgb(0, 0, 0);
  padding : 50px 50px 50px 50px;
  border-bottom: white;
  border-left: white;
  text-align:center;
  font-size: large;
}

.gridItem69 {
  display : -ms-inline-grid;
  border-top : 2px solid rgb(0, 0, 0);
  padding : 50px 50px 50px 50px;
  text-align:center;
  font-size: large;
}

.gridItem3 {
  display : -ms-inline-grid;
  padding : 50px 50px 50px 50px;
  border: white;
  text-align:center;
  font-size: large;
}

.gridItem12 {
  display : -ms-inline-grid;
  border-right : 2px solid rgb(0, 0, 0);
  padding : 50px 50px 50px 50px;
  text-align:center;
  font-size: large;
}

.turn-tracker {
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  border: 3px solid rgb(216, 221, 220);
  border-style: outset;
  text-align: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 10;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scoreboard {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-left: 2px solid rgb(216, 221, 220);
}

.gameboard {
  border: 2px solid rgb(216, 221, 220);
  border-style: ridge;
}

.gametitle {
  display: 'flex';
  justify-content:'center';
  align-items:'center';
  height: '25vh';
  font-family: "Courier New";
  font-weight: bolder;
  font-size : 50;
}